<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daryl.kidolrecognizer">

    <!-- CameraX-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Saving Photos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- API Level 28 (Pie) & Lower -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kidol_recognizer_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kidol_recognizer_v2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KIdolRecognizer">
        <activity android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RecognitionActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>